.about-section {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: white;
}

.decorations {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

/* Airplane SVG */
.airplane {
  position: absolute;
  width: clamp(200px, 40vw, 570.5px);
  height: auto; 
  top: -25%;
  left: -15%;
 
  z-index: 1;
  pointer-events: none;
}


/* Donut SVG */
.donut {
  position: absolute;
  top: 5%;
  right: 5%;
  width: clamp(80px, 15vw, 150px);
  height: auto;
  transform: rotate(0.26deg);
  z-index: 2;
  pointer-events: none;
}
